<!DOCTYPE html>
<html>
<head>
	<title>Shop mỹ phẩm</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = width-device ,initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../lib/icon/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="./stylecss.css">
</head>
<body>
	<!--++++++++++++++++++Header+++++++++++++++++++++++-->
	<div class="wapper">
		<div class="container-fluid header">
			<div class="row">
				<div class="col-md-6 left">
					<div class="row">
						<div class="col-md-6">
							<div class="logo">
								<img src="../img/logo.PNG" alt="photo">
							</div>
						</div>
						<div class="col-md-6 input-seach">
							<div class="seach">
								<input type="text" name="txtseach" placeholder="     Seach">
								<span>
									<i class="fas fa-search"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 right">
					<div class="right-top">
						<ul>
							<li>
								<span><i class="fas fa-heart"></i></span>
								<a href="">Về Kosmebox</a>
							</li>
							<li>
								<span class="icon-color"><i class="fas fa-user"></i></span>
								<a href="">Đăng nhập</a>
							</li>
							<li>
								<span class="icon-color"><i class="fas fa-sign-out-alt"></i></span>
								<a href="">Đăng xuất</a>
							</li>
							<li>
								<span><i class="fas fa-dollar-sign"></i></span>
								<a href="">Thanh toán</a>
							</li>
						</ul>
					</div>
					<div class="right-bottom">
						<div class="icon-now">
							<span>
								<i class="fas fa-user"></i>
							</span>
							<label>Bí quyết <br> làm đẹp</label>
						</div>
						<div class="icon-now">
							<span>
								<i class="fas fa-user-plus"></i>
							</span>
							<label>Tuyển <br> CTV</label>
						</div>
						<div class="icon-now final">
							<span><i class="fas fa-cart-plus"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--++++++++++++++++++End-Header+++++++++++++++++++++++-->


	<!--++++++++++++++++++Menu+++++++++++++++++++++++-->
	<nav class="navbar navbar-expand-lg navbar-light">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
	        <span class="navbar-toggler-icon"></span>
	    </button>
	     <span class="icon-home"><i class="fas fa-home"></i></span>
	    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
	        <ul class="navbar-nav">
	            <li class="nav-item dropdown active">
	                <a class="nav-link active" href="#">Thương Hiệu</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li>
	             <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./my-pham-nhat.html">Mỹ Phẩm Nhật</a>
	                <div class="dropdown-menu">
	                	<a href="./my-pham-nhat.html" class="dropdown-item">Link1</a>
	                	<a href="./my-pham-nhat.html" class="dropdown-item">Link1</a>
	                	<a href="./my-pham-nhat.html" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="../layout/trangdiem.html">Trang Điểm</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./duong_da.html">Dưỡng Da</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./bo_san_pham.html">Bộ Sản Phẩm</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./nuoc_hoa.html">Nước Hoa</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li>
	        </ul>
	    </div>
	</nav>
	<!--++++++++++++++++++End-Menu+++++++++++++++++++++++-->



   <!--++++++++++++++++++Banner+++++++++++++++++++++++-->
   <div class="banner">
	   	<div class="img-banner">
	   		<img src="../img/banner.PNG">
	   	</div>
   </div>
   <!--++++++++++++++++++End_Banner+++++++++++++++++++++++-->



   <!--++++++++++++++++++Sản Phẩm+++++++++++++++++++++++-->
   <div class="sanpham">
	   <div class="container-fluid in-sanpham">
		   	<div class="row">
		   		<div class="col-md-3 in-sanpham-top">
		   			<div class="wp-icon">
		   				<div class="icon-sanpham">
			   				<span>
			   					<i class="far fa-gem"></i>
			   				</span>
			   			</div>
		   			</div>
		   			<div  class="txt-sanpham">
		   				<h6>Tíc lũy lưu điểm & Vip</h6>
		   				<p>Tích Luỹ Điểm & Kích Hoạt VIP Thêm Các Ưu Đãi</p>
		   			</div>
		   		</div>
		   		<div class="col-md-3 in-sanpham-top">
		   			<div class="wp-icon">
		   				<div class="icon-sanpham">
			   				<span>
			   					<i class="far fa-gem"></i>
			   				</span>
			   			</div>
		   			</div>
		   			<div  class="txt-sanpham">
		   				<h6>Tíc lũy lưu điểm & Vip</h6>
		   				<p>Tích Luỹ Điểm & Kích Hoạt VIP Thêm Các Ưu Đãi</p>
		   			</div>
		   		</div>
		   		<div class="col-md-3 in-sanpham-top">
		   			<div class="wp-icon">
		   				<div class="icon-sanpham">
			   				<span>
			   					<i class="far fa-gem"></i>
			   				</span>
			   			</div>
		   			</div>
		   			<div  class="txt-sanpham">
		   				<h6>Tíc lũy lưu điểm & Vip</h6>
		   				<p>Tích Luỹ Điểm & Kích Hoạt VIP Thêm Các Ưu Đãi</p>
		   			</div>
		   		</div>
		   		<div class="col-md-3 in-sanpham-top">
		   			<div class="wp-icon">
		   				<div class="icon-sanpham">
			   				<span>
			   					<i class="far fa-gem"></i>
			   				</span>
			   			</div>
		   			</div>
		   			<div  class="txt-sanpham">
		   				<h6>Tíc lũy lưu điểm & Vip</h6>
		   				<p>Tích Luỹ Điểm & Kích Hoạt VIP Thêm Các Ưu Đãi</p>
		   			</div>
		   		</div>
		   	</div>
	   </div>	
   </div>
   <!--++++++++++++++++++End_Sản_Phẩm+++++++++++++++++++++++-->





    <!--++++++++++++++++++Sản phẩm nổi bật+++++++++++++++++++++++-->

    <div class="sanpham_noibat">
    	<div class="container-fluid Sanpham_noibat">
    		<div class="row">
    			<!--++++++++Tieu_de++++++-->
    			<div class="col-md-12 sp-title">
    				<h3>Ngành hàng nổi bật</h3>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    			<div class="col-md-2 SAnpham_noibat">
    				<div class="sp-anh">
    					<img src="../img/SPNP.PNG" alt="photo">
    				</div>
    				<div>
    					<h6>Dưỡng da-Skin Care</h6>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!--++++++++++++++++++End_Sản phẩm nổi bật+++++++++++++++++++++++-->




    <!--++++++++++++++++++Sản phẩm mới+++++++++++++++++++++++-->
     
    <div class="new-sanpham">
    	<div class="container-fluid New-sanpham">
    		<div class="row">
    			<div class="col-md-12 NEw-sanpham">
    				<span>
    					<i class="fas fa-lightbulb"></i>
    				</span>
    				<label>
    					Đảm bảo hàng thật chính hãng
    				</label>
    				<button class="btn btn-primary">
    					Đăng kí ngay
    				</button>
    			</div>
    			<div class="col-md-12 NEW-sanpham">
    				<h3>SẢN PHẨM MỚI</h3>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!--++++++++++++++++++End_Sản phẩm mới+++++++++++++++++++++++-->




	<!--++++++++++++++++++Sản phẩm Bán chạy nhất+++++++++++++++++++++++-->
     
    <div class="new-sanpham">
    	<div class="container-fluid New-sanpham">
    		<div class="row">
    			<div class="col-md-12 NEw-sanpham">
    				<button class="btn btn-primary">
    					Xem thêm
    				</button>
    			</div>
    			<div class="col-md-12 NEW-sanpham">
    				
    				<h3><span><i class="far fa-star"></i></span>SẢN PHẨM BÁN CHẠY NHẤT<span><i class="far fa-star"></i></span></h3>

    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

    <!--++++++++++++++++++End_Sản phẩm bán chạy nhất+++++++++++++++++++++++-->




   <!--++++++++++++++++++Bộ sản phẩm+++++++++++++++++++++++-->
     
    <div class="new-sanpham">
    	<div class="container-fluid New-sanpham">
    		<div class="row">
    			<div class="col-md-12 NEw-sanpham">
    				<button class="btn btn-primary">
    					Xem thêm
    				</button>
    			</div>
    			<div class="col-md-12 NEW-sanpham">
    				<h3>Bộ sản phẩm</h3>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    			<div class="col-md-3 NEW-Sanpham">
    				<div class="NEW-Sanpham-img">
    					<img src="../img/sanpham1.PNG">
    				</div>
    				<div class="NEW-Sanpham-body">
    					<p>Thẻ Đeo Di Động Ari Doctor Diệt vi khuẩn và Virus</p>
    					<p class="price"><del>950.000đ</del>499.000đ</p>
    				</div>
    				<div class="NEW-Sanpham-btn">
    					<button class="btn btn-primary"><span><i class="fas fa-cart-arrow-down"></i></span>Mua Hàng</button>
    				</div>
    				<div class="NEW-Sanpham-sale">
    					<label>-47%</label>
    				</div>
    				<div class="NEW-Sanpham-time" >
    					<div id="time"></div>
    					<div id="txt-time"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!--++++++++++++++++++End_Bộ sản phẩm+++++++++++++++++++++++-->





	<!--++++++++++++++++++Sản phẩm Bán chạy nhất+++++++++++++++++++++++-->
     
    <div class="bi-quyet">
    	<div class="container-fluid Bi-quyet">
    		<div class="row">
    			<div class="col-md-12 BI-quyet">
    				<h3><span></span>Bí Quyết Làm Đẹp</h3>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 BI-Quyet">
    				<div class="BI-Quyet-img">
    					<img src="../img/sanpham2.PNG">
    				</div>
    				<div class="BI-Quyet-body">
    					<p class="ten-sp">Thuyết Phục Như Mặt Nạ Lime Pink Recovery Mask Moist Solution, Thiết Kế Ôm Khít Mặt, Vượt Trội Với Chức Năng Dưỡng Ẩm, Làm Sáng Da</p>
    					<p>Nằm trong dòng mặt nạ Pink Recovery Mask của thương hiệu mỹ phẩm Limecosmetic Hàn Quốc, Mặt Nạ Lime Pink Recovery Mask Moist Solution nổi bật với hiệu...</p>
    				</div>
    				<div class="BI-Quyet-btn">
    					<a class="">Xem thêm <span><i class="fas fa-angle-right"></i></span></a>
    				</div>
    			</div>
    			<!--++++++++Thẻ hàng++++++-->
    			<div class="col-md-3 BI-Quyet">
    				<div class="BI-Quyet-img">
    					<img src="../img/sanpham2.PNG">
    				</div>
    				<div class="BI-Quyet-body">
    					<p class="ten-sp">Thuyết Phục Như Mặt Nạ Lime Pink Recovery Mask Moist Solution, Thiết Kế Ôm Khít Mặt, Vượt Trội Với Chức Năng Dưỡng Ẩm, Làm Sáng Da</p>
    					<p>Nằm trong dòng mặt nạ Pink Recovery Mask của thương hiệu mỹ phẩm Limecosmetic Hàn Quốc, Mặt Nạ Lime Pink Recovery Mask Moist Solution nổi bật với hiệu...</p>
    				</div>
    				<div class="BI-Quyet-btn">
    					<a class="">Xem thêm <span><i class="fas fa-angle-right"></i></span></a>
    				</div>
    			</div>
    			<div class="col-md-3 BI-Quyet">
    				<div class="BI-Quyet-img">
    					<img src="../img/sanpham2.PNG">
    				</div>
    				<div class="BI-Quyet-body">
    					<p class="ten-sp">Thuyết Phục Như Mặt Nạ Lime Pink Recovery Mask Moist Solution, Thiết Kế Ôm Khít Mặt, Vượt Trội Với Chức Năng Dưỡng Ẩm, Làm Sáng Da</p>
    					<p>Nằm trong dòng mặt nạ Pink Recovery Mask của thương hiệu mỹ phẩm Limecosmetic Hàn Quốc, Mặt Nạ Lime Pink Recovery Mask Moist Solution nổi bật với hiệu...</p>
    				</div>
    				<div class="BI-Quyet-btn">
    					<a class="">Xem thêm <span><i class="fas fa-angle-right"></i></span></a>
    				</div>
    			</div>
    			<div class="col-md-3 BI-Quyet">
    				<div class="BI-Quyet-img">
    					<img src="../img/sanpham2.PNG">
    				</div>
    				<div class="BI-Quyet-body">
    					<p class="ten-sp">Thuyết Phục Như Mặt Nạ Lime Pink Recovery Mask Moist Solution, Thiết Kế Ôm Khít Mặt, Vượt Trội Với Chức Năng Dưỡng Ẩm, Làm Sáng Da</p>
    					<p>Nằm trong dòng mặt nạ Pink Recovery Mask của thương hiệu mỹ phẩm Limecosmetic Hàn Quốc, Mặt Nạ Lime Pink Recovery Mask Moist Solution nổi bật với hiệu...</p>
    				</div>
    				<div class="BI-Quyet-btn">
    					<a class="">Xem thêm <span><i class="fas fa-angle-right"></i></span></a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

    <!--++++++++++++++++++End_Sản phẩm bán chạy nhất+++++++++++++++++++++++-->




	<!--++++++++++++++++++Footer+++++++++++++++++++++++-->
<div class="footer-wp">
    <div class="footer">
    	<div class="container-fluid Footer">
    		<div class="row">
    			<div class="col-md-3 FOoter">
    				<div class="FOoter-title">
    					<h4>Thông Tin Chung</h4>
    				</div>
    				<div class="FOoter-body">
    					<ul>
    						<li>
    							<a href="">Về chúng tôi</a>
    						</li>
    						<li>
    							<a href="">Chính sách quyền riêng tư</a>
    						</li>
    						<li>
    							<a href="">Chính sách vận chuyển</a>
    						</li>
    						<li>
    							<a href="">Chính sách trả hàng</a>
    						</li>
    					</ul>
    				</div>
    			</div>	
    			<div class="col-md-3 FOoter">
    				<div class="FOoter-title">
    					<h4>Các thông tin khác</h4>
    				</div>
    				<div class="FOoter-body">
    					<ul>
    						<li>
    							<a href="">Thương hiệu</a>
    						</li>
    						<li>
    							<a href="">Khuyến mãi</a>
    						</li>
    						<li>
    							<a href="">Bí quyết làm đẹp</a>
    						</li>
    						<li>
    							<a href="">Liên hệ</a>
    						</li>
    					</ul>
    				</div>
    			</div>	
    			<div class="col-md-3 FOoter">
    				<div class="FOoter-title">
    					<h4>Tài khoản cá nhân</h4>
    				</div>
    				<div class="FOoter-body">
    					<ul>
    						<li>
    							<a href="">Tài khoản</a>
    						</li>
    						<li>
    							<a href="">Lịch sử đơn hàng</a>
    						</li>
    						<li>
    							<a href="">Yêu thích(0)</a>
    						</li>
    						<li>
    							<a href="">Thư thông báo</a>
    						</li>
    					</ul>
    				</div>
    			</div>	
    			<div class="col-md-3 FOoter">
    				<div class="FOoter-title">
    					<h4>Thông Tin Chung</h4>
    				</div>
    				<div class="FOoter-body">
    					<span><i class="fab fa-facebook"></i></span>
                        <span><i class="fab fa-youtube"></i></span>
                        <span><i class="fab fa-google-plus-g"></i></span>
    				</div>
    			</div>	
    		</div>
    	</div>
    </div>
</div>
	<!--++++++++++++++++++Footer+++++++++++++++++++++++-->



<!--++++++++++++++++++Content+++++++++++++++++++++++-->
	<!--phần của trang sản phẩm-->
	<!--
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 content-left">
					<div class="content-left-title">
						<h6>Dưỡng da</h6>
					</div>
					<div class="content-left-item">
						<ul>
							<li>
								<span><i class="fas fa-angle-right"></i></span>
								<a href="">Tẩy trang</a>
							</li>
							<li>
								<span><i class="fas fa-angle-right"></i></span>
								<a href="">Sữa rửa mặt</a>
							</li>
							<li>
								<span><i class="fas fa-angle-right"></i></span>
								<a href="">Tẩy tế bào chết</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 content-right">
					<div class="content-right-title">
						<h6>Trang Điểm-Make Up</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!--++++++++++++++++++End-Content+++++++++++++++++++++++-->
<script type="text/javascript" src="../lib/bootstrap/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./stylejs.js"></script>
</body>
</html>