<!DOCTYPE html>
<html>
<head>
	<title>Shop mỹ phẩm</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = width-device ,initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../lib/icon/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="./stylecss.css">
</head>
<body>
	<!--++++++++++++++++++Header+++++++++++++++++++++++-->
	<div class="wapper">
		<div class="container-fluid header">
			<div class="row">
				<div class="col-md-6 left">
					<div class="row">
						<div class="col-md-6">
							<div class="logo">
								<a href="./index.html"><img src="../img/logo.PNG" alt="photo"></a>
							</div>
						</div>
						<div class="col-md-6 input-seach">
							<div class="seach">
								<input type="text" name="txtseach" placeholder="     Seach">
								<span>
									<i class="fas fa-search"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 right">
					<div class="right-top">
						<ul>
							<li>
								<span><i class="fas fa-heart"></i></span>
								<a href="">Về Kosmebox</a>
							</li>
							<li>
								<span class="icon-color"><i class="fas fa-user"></i></span>
								<a href="">Đăng nhập</a>
							</li>
							<li>
								<span class="icon-color"><i class="fas fa-sign-out-alt"></i></span>
								<a href="">Đăng xuất</a>
							</li>
							<li>
								<span><i class="fas fa-dollar-sign"></i></span>
								<a href="">Thanh toán</a>
							</li>
						</ul>
					</div>
					<div class="right-bottom">
						<div class="icon-now">
							<span>
								<i class="fas fa-user"></i>
							</span>
							<label>Bí quyết <br> làm đẹp</label>
						</div>
						<div class="icon-now">
							<span>
								<i class="fas fa-user-plus"></i>
							</span>
							<label>Tuyển <br> CTV</label>
						</div>
						<div class="icon-now final">
							<span><i class="fas fa-cart-plus"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--++++++++++++++++++End-Header+++++++++++++++++++++++-->


	<!--++++++++++++++++++Menu+++++++++++++++++++++++-->
	<nav class="navbar navbar-expand-lg navbar-light">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
	        <span class="navbar-toggler-icon"></span>
	    </button>
	     <span class="icon-home"><i class="fas fa-home"></i></span>
	    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
	        <ul class="navbar-nav">
	            <li class="nav-item dropdown active">
	                <a class="nav-link active" href="">Thương Hiệu</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li>
	             <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./my-pham-nhat.html">Mỹ Phẩm Nhật</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="../layout/trangdiem.html">Trang Điểm</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./duong_da.html">Dưỡng Da</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./bo_san_pham.html">Bộ Sản Phẩm</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li> <li class="nav-item dropdown active">
	                <a class="nav-link active" href="./nuoc_hoa.html">Nước Hoa</a>
	                <div class="dropdown-menu">
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                	<a href="#" class="dropdown-item">Link1</a>
	                </div>
	            </li>
	        </ul>
	    </div>
	</nav>
	<!--++++++++++++++++++End-Menu+++++++++++++++++++++++-->


<!--++++++++++++++++++Content+++++++++++++++++++++++-->
    <!--phần của trang sản phẩm-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 content-left">
                    <div class="content-left-title">
                        <h6>Dưỡng da</h6>
                    </div>
                    <div class="content-left-item">
                        <ul>
                            <li>
                                <span><i class="fas fa-angle-right"></i></span>
                                <a href="">Tẩy trang</a>
                            </li>
                            <li>
                                <span><i class="fas fa-angle-right"></i></span>
                                <a href="">Sữa rửa mặt</a>
                            </li>
                            <li>
                                <span><i class="fas fa-angle-right"></i></span>
                                <a href="">Tẩy tế bào chết</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Content-left">
                    	<div class="content-left-title">
	                        <h6>Hàng mới về</h6>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
	                    <div class="COntent-left">
	                    	<div class="CONtent-left">
	                    		<img src="../img/mini-thumnails.PNG">
	                    	</div>
	                    	<div class="CONTent-left">
	                    		<p>Tinh Chất Dưỡng Da Chiết Xuất Trà Xanh Innisfree Green Tea</p>
	                    		<h6>Seed Serum 30ml</h6>
	                    		<h6 class="gia"><del>349.000đ</del>245.000đ</h6>
	                    	</div>
	                    </div>
                    </div>
                </div>
                <div class="col-md-9 content-right">
                    <div class="content-right-title">
                        <h6 class="Content-right-title">Trang Điểm-Make Up</h6>
                    </div>
                    <div class="Banner-my-pham">
                        <img src="../img/banner_my_pham_nhat.PNG">
                    </div>
                    <div class="Control-my-pham">
                        <div class="row">
                        	<div class="col-md-6 Control-my-pham-left">
	                        	<div class="COntrol-my-pham-left">
	                        		<select>
	                        		<option class="active">Mỹ phẩm nhật</option>
	                        		<option class="active">Mỹ phẩm nhật</option>
	                        		<option class="active">Mỹ phẩm nhật</option>
	                        		</select>
	                        	</div>
	                        	<div class="CONtrol-my-pham-left">
	                        		<span class="active"><i class="fas fa-th"></i></span>
	                        		<span><i class="fas fa-align-left"></i></span>
	                        	</div>
	                        </div>
	                        <div class="col-md-6 Control-my-pham-right">
	                        	<div class="COntrol-my-pham-right">
	                        		<input type="range" name="" >
	                        		<button>Lọc</button>
	                        	</div>
	                        	<div class="CONtrol-my-pham-right">
	                        		<label>Sắp xếp theo</label>
	                        		<select>
	                        			<option>Mặc định</option>
	                        			<option>Mặc định</option>
	                        			<option>Mặc định</option>
	                        		</select>
	                        		<label>Hiển thị</label>
	                        		<select>
	                        			<option>20</option>
	                        			<option>20</option>
	                        			<option>20</option>
	                        		</select>
	                        	</div>
	                        </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="col-md-3 sp-my-pham-nhat">
	                    	<div class="NEW-Sanpham">
			    				<div class="NEW-Sanpham-img">
			    					<img src="../img/trang_diem.PNG">
			    				</div>
			    				<div class="sp-my-pham-nhat-star">
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    					<span><i class="fas fa-star"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-body">
			    					<p>Phấn nước dưỡng ẩm và chống lão hóa Lime V Collagen Ample Cushion SPF 50+ PA +++</p>
			    					<p class="price"><del>390.000đ</del>270.000đ</p>
			    				</div>
			    				<div class="Sp-san-pham-nhat">
			    					<span><i class="fas fa-cart-arrow-down"></i></span>
			    				</div>
			    				<div class="NEW-Sanpham-sale">
			    					<label>-30%</label>
			    				</div>
			    				<div class="NEW-Sanpham-time" >
			    					<div id="time"></div>
			    					<div id="txt-time"></div>
			    				</div>
			    			</div>
	                    </div>
	                    <div class="content-right-title">
                        	<h6 class="Content-right-title">Không còn sản phẩm nào</h6>
                   		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--++++++++++++++++++End-Content+++++++++++++++++++++++-->


	<!--++++++++++++++++++Footer+++++++++++++++++++++++-->
    <div class="footer-wp">
        <div class="footer">
        	<div class="container-fluid Footer">
        		<div class="row">
        			<div class="col-md-3 FOoter">
        				<div class="FOoter-title">
        					<h4>Thông Tin Chung</h4>
        				</div>
        				<div class="FOoter-body">
        					<ul>
        						<li>
        							<a href="">Về chúng tôi</a>
        						</li>
        						<li>
        							<a href="">Chính sách quyền riêng tư</a>
        						</li>
        						<li>
        							<a href="">Chính sách vận chuyển</a>
        						</li>
        						<li>
        							<a href="">Chính sách trả hàng</a>
        						</li>
        					</ul>
        				</div>
        			</div>	
        			<div class="col-md-3 FOoter">
        				<div class="FOoter-title">
        					<h4>Các thông tin khác</h4>
        				</div>
        				<div class="FOoter-body">
        					<ul>
        						<li>
        							<a href="">Thương hiệu</a>
        						</li>
        						<li>
        							<a href="">Khuyến mãi</a>
        						</li>
        						<li>
        							<a href="">Bí quyết làm đẹp</a>
        						</li>
        						<li>
        							<a href="">Liên hệ</a>
        						</li>
        					</ul>
        				</div>
        			</div>	
        			<div class="col-md-3 FOoter">
        				<div class="FOoter-title">
        					<h4>Tài khoản cá nhân</h4>
        				</div>
        				<div class="FOoter-body">
        					<ul>
        						<li>
        							<a href="">Tài khoản</a>
        						</li>
        						<li>
        							<a href="">Lịch sử đơn hàng</a>
        						</li>
        						<li>
        							<a href="">Yêu thích(0)</a>
        						</li>
        						<li>
        							<a href="">Thư thông báo</a>
        						</li>
        					</ul>
        				</div>
        			</div>	
        			<div class="col-md-3 FOoter">
        				<div class="FOoter-title">
        					<h4>Thông Tin Chung</h4>
        				</div>
        				<div class="FOoter-body">
        					<span><i class="fab fa-facebook"></i></span>
                            <span><i class="fab fa-youtube"></i></span>
                            <span><i class="fab fa-google-plus-g"></i></span>
        				</div>
        			</div>	
        		</div>
        	</div>
        </div>
    </div>
	<!--++++++++++++++++++Footer+++++++++++++++++++++++-->



<script type="text/javascript" src="../lib/bootstrap/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./stylejs.js"></script>
</body>
</html>